@model FoodOrder.Core.ViewModels.Orders.OrderCreateVM

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <h1 class="mt-4">Create Order</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
        <li class="breadcrumb-item active">Create Order</li>
    </ol>
    <div class="card mb-4">
        <div class="card-header">
            <a asp-action="Index">Back to list</a>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-4">
                    <form asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="AppUserID" class="control-label"></label>
                            <input asp-for="AppUserID" class="form-control" />
                            <span asp-validation-for="AppUserID" class="text-danger"></span>
                        </div>
                        <div class="form-group form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" asp-for="IsPaid" /> @Html.DisplayNameFor(model => model.IsPaid)
                            </label>
                        </div>
                        <div class="form-group">
                            <label asp-for="DatePaid" class="control-label"></label>
                            <input asp-for="DatePaid" class="form-control" />
                            <span asp-validation-for="DatePaid" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="OrderStatusID" class="control-label"></label>
                            <input asp-for="OrderStatusID" class="form-control" />
                            <span asp-validation-for="OrderStatusID" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="PromotionID" class="control-label"></label>
                            <input asp-for="PromotionID" class="form-control" />
                            <span asp-validation-for="PromotionID" class="text-danger"></span>
                        </div>
                       
                        <div class="form-group">
                            <input type="submit" value="Create" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>

            <div>
                <a asp-action="Index">Back to List</a>
            </div>

            @section Scripts {
                @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
            }
        </div>
    </div>
</div>