@using FoodOrder.Admin.Configs
@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<div class="container-fluid">
    <div class="card mb-4">
        <div class="card-body">
            <h1 class="text-danger">Error.</h1>
            <h2 class="text-danger">An error occurred while processing your request.</h2>

            @if (Model.ShowRequestId)
            {
                <p>
                    <strong>Request ID:</strong> <code>@Model.RequestId</code>
                </p>
            }

            <div class="container-fluid">
                <div class="alert alert-danger alert-dismissible">
                    @TempData[AppConfigs.ErrorMessageString]
                </div>
            </div>
        </div>
    </div>
</div>